body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.content {
  height: 98vh;
  width: 95vw;
  display: flex;
  padding: 1rem;
}

.player1, .player2 {
  height: 100%;
  width: 40%;
  background-color: rgb(228, 158, 28);
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  
}

.menu {
  width: 20%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



.currentScore1, .currentScore2 {
  background-color: blueviolet;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

h5 {
  font-size: 0.5em;
}

.main i {
  padding: 5px;
  margin: 5px;
}

.dice img {
  height: 5em;
  width: 5em;
}

#de1, #de2, #de3, #de4, #de5, #de6 {
  display: none;
}

#newGame, #rollDice, #hold, #regle, #pseudo1, #pseudo2 {
  background-color: rgb(228, 158, 28);
  border-radius: 10px;
}

.name {
  display: flex;
  justify-content: center;
}

#pseudo1, #pseudo2 {
  font-size: 0.2em;
  align-self: center;
}

#player1, #player2 {
  margin: 5px;
  font-size: 0.5em;
}

@media screen and (min-width: 724px) {
  #global1, #global2 {
    font-size: 8rem;
    text-align: center;
  }
    #pseudo1, #pseudo2 {
      font-size: 0.5em;
      align-self: center;
  }

  #player1, #player2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 630px) {
  .menu {
    position: absolute;
    flex-direction: row;
    width: 100%;
    bottom: 0px;
  }

  .player1, .player2 {
    height: 80%
  }

  .currentScore1, .currentScore2 {
    width: 80%;
  }

  h5 {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 590px) {
  .dice {
    padding: 1em;
  }

  button {
    width: 15%;
    font-size: 0.6em;
  }

  .content {
    justify-content: space-around;
  }

  .name { 
    font-size: 0.7em;
  }

  #de1, #de2, #de3, #de4, #de5, #de6 {
    height: 2em;
    width: 2em;
  }
}